{% extends "nav.html" %}
{% block title %} Survey Start {% endblock %}

{% block content %}

<div id="WelcomeContainer">
  <div id="WelcomeMsg">
    <h2> Hi! User, <br>Do you want to participate in my survey?</h1>
      <h4>This survery is about the preference of user's library and framework</h4>

      <img id="Coding-picture" src="/static/IMG/coding.jpeg" alt="coding.."><br>
      <a class="pure-button" href = "{{url_for('survery')}}">Go to survey</a>
      <a class="pure-button" href="{{url_for('decline')}}">Decline</a>

  </div>
</div>

{% endblock %}